<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="edu.buaa.actionSet">
         <menu
               label="DS-PeMAT"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="About"
               icon="icons/sample.gif"
               class="edu.buaa.actions.AboutAction"
               tooltip="About DS-PeMAT"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="edu.buaa.actions.AboutAction">
         </action>
         <action
               label="Simulate"
               icon="icons/heart.png"
               class="edu.buaa.actions.SampleAction"
               tooltip="simulate DDS model"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="edu.buaa.actions.SampleAction">
         </action>
         
         <action
               label="Config"
               icon="icons/sample.gif"
               class="edu.buaa.actions.InputAction"
               tooltip="input something"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="edu.buaa.actions.InputAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.buaa.AbstractPreferenceInitializer1">
      </initializer>
   </extension>

</plugin>
